/* Entire Page Styling */
body {
    background: url(../images/italianflag.jpg) repeat;
    background-size: 100%;
    min-height: 100%;
    margin: 0;
}

/* Header Styling */
header {
    /*margin-bottom: 10%;*/
    text-align: center;
}

/* Main Styling */
main {
    margin-top: 10%;
    margin-bottom: 20%;
    text-align: center;
    
    
}
main div{
    padding-left: 30%;
    padding-right: 30%;
    line-height: 25pt;
    
}
main div ul{
    list-style-type: none;
}

/* Aside Styling */
aside{
    background: url(../images/topics.jpg);
    background-size: 100% 100%;
    position: fixed;
    
    margin-left: 5%;
    padding-right: 5%;
    box-shadow: 1px -2px 10px rgba(21, 124, 0, 0.356);
    
}
aside h3{
    text-align: center;
    
}
aside li{
    
    text-align: left;
}


/* Footer Styling */
footer {
    text-align: center;
}
